{
    "annualized_return": 0.0,
    "daily_returns": [],
    "last_updated": "2025-03-14 12:08:04",
    "max_drawdown": 0.0,
    "profitable_trades": 0,
    "sharpe_ratio": 0.0,
    "total_profit": 0.0,
    "total_trades": 0
}